# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter & IPython
.ipynb_checkpoints/

# Logs & output data
*.log
*.tmp
*.npy
*.npz
*.mat
*.tif
*.tiff
*.ome.tif

# Output folders
merged_outputs/
*_outputs/
downsampled/
motion_corrected/

# IDE settings
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini

# Environment files
.env
